.sideDrawer {
    width: 550px;
    max-width: 70%;
    max-height: 92%;
    min-height: 92%;
    position: fixed;
    right: 0;
    top: 45px;
    z-index: 200;
    background-color: white;
    box-sizing: border-box;
    transition: transform 0.5s ease-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}

.drawerHeader {
    width: 100%;
    position: sticky;
    height: 50px;
    top: 0;
    z-index: 900;
    background-color: white;
    border-bottom: #e6ecf2 solid 1px;
}

.header {
    position: absolute;
    top: 15px;
    left: 32px;
    color: #2F256A;
    text-align: left;
    font-size: 1.3rem;
    size: 16px;
}

.mark {
    position: absolute;
    color: #22499D;
    top: 20px;
    right: 55px;
    font-size: 0.7rem;
    size: 16px;
}

/* when hovering over mark underline it */
.mark:hover {
    text-decoration: underline;
    cursor: pointer;
}

.setting img {
    z-index: 900;
    position: absolute;
    right: 15px;
    top: 18px;
    height: 22px;
    width: 22px;
}

.setting img:hover {
    cursor: pointer;
}


.alert {
    position: relative;
    top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2F256A;
    font-size: 1.3rem;
}

.alert img {
    width: 150px;
    height: 160px;
    padding-bottom: 10px;
}

.tooltip {
    z-index: 999;
}

.Open {
    transform: translateX(0px);
}

.Close {
    transform: translateX(100%);
}