.sideDrawer {
    width: 450px;
    max-width: 70%;
    max-height: 100%;
    position: fixed;
    right: 0;
    top: 45px;
    z-index: 200;
    background-color: white;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}

.setting {
    position: absolute;
    right: 0;
    margin-right: 14px;
    margin-top: 21px;
    height: 22px;
    width: 22px;
}

.alert {
    margin-top: 297px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #2F256A;
    font-size: 1.3rem;
}

.alert img {
    width: 150px;
    height: 160px;
    padding-bottom: 10px;
}



.setting:hover {
    cursor: pointer;
}

.Open {
    transform: translateX(400px);
}

.Close {
    transform: translateX(100%);
}

.header {
    position: absolute;
    color: #2F256A;
    text-align: left;
    font-size: 1.3rem;
    margin-top: 16px;
    margin-left: 32px;
    size: 16px;
}

.mark {
    margin-top: 26px;
    color: #22499D;
    right: 0;
    margin-right: 50px;
    position: absolute;
    text-align: left;
    font-size: 0.7rem;
    size: 16px;
}

/* when hovering over mark underline it */
.mark:hover {
    text-decoration: underline;
    cursor: pointer;
}