.SideNav {
    z-index: 2;
    width: 150px;
    min-height: 100vh;
    background-image: linear-gradient(0deg, #4a31e3 26%, #3e2f9a 52%, #270e5e);
    color: #333;
    text-align: left;
    font-size: 12px;
    position: fixed;
    margin-left: 0;
}


.Logo {
    font-weight: 400;
    font-variant: tabular-nums;
    line-height: 1.5;
    font-feature-settings: 'tnum', "tnum";
    font-family: "Lato";
    color: #333333;
    text-align: left;
    font-size: 12px;
    box-sizing: border-box;
    vertical-align: middle;
    border-style: none;
    padding-left: 22px;
    margin-top: 24px;
    height: 20px;
    margin-bottom: 80px;
}

.separator {
    opacity: 0.3;
    border: 1px dotted #fff;
    margin: 12px 15px;
    width: auto;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}